.root {
  text-align: center;
  background-color: rgb(231, 231, 231);
  position: absolute;
  width: 100%;
  top: 0px;
}

.maincard {
  text-align: center;
}

.title {
  text-align: left;
  font-family: 'Trebuchet MS';
  padding-left: 20px;
}

.spacer {
  padding: 20px
}